<ul class="menu-user">
	<li>
	{% if title_link.0 %}<a href="{% url title_link.1 %}" class="{{ title_link.2 }}" >{{ title_link.3 }}</a>
	{% elif title_link.0 == None %}<a class="{{ title_link.2 }}" >{{ title_link.3 }}</a>
	{% else %}<a href="{{ title_link.1 }}" class="{{ title_link.2 }}">{{ title_link.3 }}</a>
	{% endif %}	
		<ul>
		{% for name, content in links.items %}
			<li>
			{% if content.0 %}
			<a href="{% url content.1 %}" class="{{ content.2 }}" >{{ name }}</a>
			{% else %}<a href="{{ content.1 }}" class="{{ content.2 }}">{{ name }}</a>{% endif %}
			</li>
		{% endfor %}
		</ul>
	</li>
</ul>