//
// Buttons
// --------------------------------------------------
button,
.button,
[class^="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 0.625em 1.25em;
    margin: 0 0 0.625em;
    border: none;
    appearance: none;
    outline: none;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    
    @include button-style($baseColor, $textColor);
	img {
		height: 1rem;
		border-radius: 0.5rem;
	}
    &.huge{
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0.625em 2em;
    }
   
    &.thin{
        padding: 0.5em;
    }
}

button.primary,
.button-primary,
input.button-primary {
	@include button-style($primaryColor, white);
}

button.secondary,
.button-secondary,
input.button-secondary {
	@include button-style($secondaryColor, white);
}

button.facebook,
.button-facebook,
input.button-facebook {
	@include button-style($socialFacebook, white);
}

button.twitter,
.button-twitter,
input.button-twitter {
	@include button-style($socialTwitter, white);
}

button.google,
.button-google,
input.button-google {
	@include button-style($socialGoogle, white);
}

button.youtube,
.button-youtube,
input.button-youtube {
	@include button-style($socialYoutube, white);
}

button.instagram,
.button-instagram,
input.button-instagram {
	@include button-style($socialInstagram, white);
}
