//
// Cards
// --------------------------------------------------
.card,
[class*="card-"] {
	@include size(150px, 400px);
	margin: 10px;
	display: inline-block;
}

.card {
	@include card-style($baseColor, $textColor);
}

.card-primary {
	@include card-style($primaryColor, $textColor);
}

.card-secondary {
	@include card-style($secondaryColor, $textColor);
}

.card-facebook {
	@include card-style($socialFacebook, $textColor);
}

.card-twitter {
	@include card-style($socialTwitter, $textColor);
}

.card-google {
	@include card-style($socialGoogle, $textColor);
}

.card-youtube {
	@include card-style($socialYoutube, $textColor);
}

.card-instagram {
	@include card-style($socialInstagram, $textColor);
}