@font-face {
  font-family: 'entypo';
  src: url(static('dapricot/fonts/entypo.eot') + '?59575301');
  src: url(static('dapricot/fonts/entypo.eot') + '?59575301#iefix') format('embedded-opentype'),
       url(static('dapricot/fonts/entypo.woff') + '?59575301') format('woff'),
       url(static('dapricot/fonts/entypo.ttf') + '?59575301') format('truetype'),
       url(static('dapricot/fonts/entypo.svg') + '?59575301#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?59575301#entypo') format('svg');
  }
}
*/

 .tweet:before,
 .read-more:after {
	@include iconify('');
}

span.icon-facebook:before {padding-right: 0.2em;}
span.icon-twitter:before {padding-right: 0.3em;}

.icon-note:before { @include iconify('\e800'); } /* '' */
.icon-cancel-circled:before { @include iconify('\e801'); } /* '' */
.icon-cancel-squared:before { @include iconify('\e802'); } /* '' */
.icon-note-beamed:before { @include iconify('\e803'); } /* '' */
.icon-upload-cloud:before { @include iconify('\e804'); } /* '' */
.icon-music:before { @include iconify('\e805'); } /* '' */
.icon-plus:before { @include iconify('\e806'); } /* '' */
.icon-bookmark:before { @include iconify('\e807'); } /* '' */
.icon-chat:before { @include iconify('\e808'); } /* '' */
.icon-bell:before { @include iconify('\e809'); } /* '' */
.icon-light-down:before { @include iconify('\e80a'); } /* '' */
.icon-basket:before { @include iconify('\e80b'); } /* '' */
.icon-down:before { @include iconify('\e80c'); } /* '' */
.icon-left-dir:before { @include iconify('\e80d'); } /* '' */
.icon-left-circled:before { @include iconify('\e80e'); } /* '' */
.icon-search:before { @include iconify('\e80f'); } /* '' */
.icon-mail:before { @include iconify('\e810'); } /* '' */
.icon-heart:before { @include iconify('\e811'); } /* '' */
.icon-flashlight:before { @include iconify('\e812'); } /* '' */
.icon-heart-empty:before { @include iconify('\e813'); } /* '' */
.icon-star:before { @include iconify('\e814'); } /* '' */
.icon-star-empty:before { @include iconify('\e815'); } /* '' */
.icon-user:before { @include iconify('\e816'); } /* '' */
.icon-users:before { @include iconify('\e817'); } /* '' */
.icon-user-add:before { @include iconify('\e818'); } /* '' */
.icon-video:before { @include iconify('\e819'); } /* '' */
.icon-camera:before { @include iconify('\e81a'); } /* '' */
.icon-picture:before { @include iconify('\e81b'); } /* '' */
.icon-layout:before { @include iconify('\e81c'); } /* '' */
.icon-check:before { @include iconify('\e81d'); } /* '' */
.icon-tag:before { @include iconify('\e81e'); } /* '' */
.icon-cancel:before { @include iconify('\e81f'); } /* '' */
.icon-eye:before { @include iconify('\e820'); } /* '' */
.icon-lock-open:before { @include iconify('\e821'); } /* '' */
.icon-menu:before { @include iconify('\e822'); } /* '' */
.icon-lock:before { @include iconify('\e823'); } /* '' */
.icon-attach:before { @include iconify('\e824'); } /* '' */
.icon-link:before { @include iconify('\e825'); } /* '' */
.icon-home:before { @include iconify('\e826'); } /* '' */
.icon-back:before { @include iconify('\e827'); } /* '' */
.icon-info-circled:before { @include iconify('\e828'); } /* '' */
.icon-info:before { @include iconify('\e829'); } /* '' */
.icon-help-circled:before { @include iconify('\e82a'); } /* '' */
.icon-help:before { @include iconify('\e82b'); } /* '' */
.icon-minus-circled:before { @include iconify('\e82c'); } /* '' */
.icon-minus:before { @include iconify('\e82d'); } /* '' */
.icon-plus-squared:before { @include iconify('\e82e'); } /* '' */
.icon-plus-circled:before { @include iconify('\e82f'); } /* '' */
.icon-minus-squared:before { @include iconify('\e830'); } /* '' */
.icon-bookmarks:before { @include iconify('\e831'); } /* '' */
.icon-flag:before { @include iconify('\e832'); } /* '' */
.icon-thumbs-up:before { @include iconify('\e833'); } /* '' */
.icon-upload:before { @include iconify('\e834'); } /* '' */
.icon-thumbs-down:before { @include iconify('\e835'); } /* '' */
.icon-download:before { @include iconify('\e836'); } /* '' */
.icon-reply:before { @include iconify('\e837'); } /* '' */
.icon-reply-all:before { @include iconify('\e838'); } /* '' */
.icon-forward:before { @include iconify('\e839'); } /* '' */
.icon-quote:before { @include iconify('\e83a'); } /* '' */
.icon-code:before { @include iconify('\e83b'); } /* '' */
.icon-export:before { @include iconify('\e83c'); } /* '' */
.icon-pencil:before { @include iconify('\e83d'); } /* '' */
.icon-feather:before { @include iconify('\e83e'); } /* '' */
.icon-print:before { @include iconify('\e83f'); } /* '' */
.icon-retweet:before { @include iconify('\e840'); } /* '' */
.icon-keyboard:before { @include iconify('\e841'); } /* '' */
.icon-comment:before { @include iconify('\e842'); } /* '' */
.icon-book:before { @include iconify('\e843'); } /* '' */
.icon-book-open:before { @include iconify('\e844'); } /* '' */
.icon-newspaper:before { @include iconify('\e845'); } /* '' */
.icon-doc-text-inv:before { @include iconify('\e846'); } /* '' */
.icon-doc-text:before { @include iconify('\e847'); } /* '' */
.icon-doc-landscape:before { @include iconify('\e848'); } /* '' */
.icon-doc:before { @include iconify('\e849'); } /* '' */
.icon-trash:before { @include iconify('\e84a'); } /* '' */
.icon-cup:before { @include iconify('\e84b'); } /* '' */
.icon-compass:before { @include iconify('\e84c'); } /* '' */
.icon-direction:before { @include iconify('\e84d'); } /* '' */
.icon-map:before { @include iconify('\e84e'); } /* '' */
.icon-location:before { @include iconify('\e84f'); } /* '' */
.icon-address:before { @include iconify('\e850'); } /* '' */
.icon-vcard:before { @include iconify('\e851'); } /* '' */
.icon-alert:before { @include iconify('\e852'); } /* '' */
.icon-attention:before { @include iconify('\e853'); } /* '' */
.icon-folder:before { @include iconify('\e854'); } /* '' */
.icon-archive:before { @include iconify('\e855'); } /* '' */
.icon-box:before { @include iconify('\e856'); } /* '' */
.icon-rss:before { @include iconify('\e857'); } /* '' */
.icon-phone:before { @include iconify('\e858'); } /* '' */
.icon-cog:before { @include iconify('\e859'); } /* '' */
.icon-tools:before { @include iconify('\e85a'); } /* '' */
.icon-share:before { @include iconify('\e85b'); } /* '' */
.icon-shareable:before { @include iconify('\e85c'); } /* '' */
.icon-bag:before { @include iconify('\e85d'); } /* '' */
.icon-calendar:before { @include iconify('\e85e'); } /* '' */
.icon-login:before { @include iconify('\e85f'); } /* '' */
.icon-logout:before { @include iconify('\e860'); } /* '' */
.icon-mic:before { @include iconify('\e861'); } /* '' */
.icon-mute:before { @include iconify('\e862'); } /* '' */
.icon-docs:before { @include iconify('\e863'); } /* '' */
.icon-sound:before { @include iconify('\e864'); } /* '' */
.icon-volume:before { @include iconify('\e865'); } /* '' */
.icon-clock:before { @include iconify('\e866'); } /* '' */
.icon-hourglass:before { @include iconify('\e867'); } /* '' */
.icon-down-open-mini:before { @include iconify('\e868'); } /* '' */
.icon-up-open:before { @include iconify('\e869'); } /* '' */
.icon-right-open:before { @include iconify('\e86a'); } /* '' */
.icon-left-open:before { @include iconify('\e86b'); } /* '' */
.icon-down-open:before { @include iconify('\e86c'); } /* '' */
.icon-right-circled:before { @include iconify('\e86d'); } /* '' */
.icon-down-circled:before { @include iconify('\e86e'); } /* '' */
.icon-up-circled:before { @include iconify('\e86f'); } /* '' */
.icon-arrow-combo:before { @include iconify('\e870'); } /* '' */
.icon-window:before { @include iconify('\e871'); } /* '' */
.icon-publish:before { @include iconify('\e872'); } /* '' */
.icon-popup:before { @include iconify('\e873'); } /* '' */
.icon-resize-small:before { @include iconify('\e874'); } /* '' */
.icon-resize-full:before { @include iconify('\e875'); } /* '' */
.icon-block:before { @include iconify('\e876'); } /* '' */
.icon-adjust:before { @include iconify('\e877'); } /* '' */
.icon-light-up:before { @include iconify('\e878'); } /* '' */
.icon-lamp:before { @include iconify('\e879'); } /* '' */
.icon-left-open-mini:before { @include iconify('\e87a'); } /* '' */
.icon-right-open-mini:before { @include iconify('\e87b'); } /* '' */
.icon-up-open-mini:before { @include iconify('\e87c'); } /* '' */
.icon-down-open-big:before { @include iconify('\e87d'); } /* '' */
.icon-left-open-big:before { @include iconify('\e87e'); } /* '' */
.icon-right-open-big:before { @include iconify('\e87f'); } /* '' */
.icon-arrows-ccw:before { @include iconify('\e880'); } /* '' */
.icon-cw:before { @include iconify('\e881'); } /* '' */
.icon-ccw:before { @include iconify('\e882'); } /* '' */
.icon-up-open-big:before { @include iconify('\e883'); } /* '' */
.icon-level-down:before { @include iconify('\e884'); } /* '' */
.icon-up-thin:before { @include iconify('\e885'); } /* '' */
.icon-left-thin:before { @include iconify('\e886'); } /* '' */
.icon-progress-1:before { @include iconify('\e887'); } /* '' */
.icon-progress-2:before { @include iconify('\e888'); } /* '' */
.icon-right-thin:before { @include iconify('\e889'); } /* '' */
.icon-progress-3:before { @include iconify('\e88a'); } /* '' */
.icon-target:before { @include iconify('\e88b'); } /* '' */
.icon-palette:before { @include iconify('\e88c'); } /* '' */
.icon-list:before { @include iconify('\e88d'); } /* '' */
.icon-list-add:before { @include iconify('\e88e'); } /* '' */
.icon-signal:before { @include iconify('\e88f'); } /* '' */
.icon-level-up:before { @include iconify('\e890'); } /* '' */
.icon-left:before { @include iconify('\e891'); } /* '' */
.icon-shuffle:before { @include iconify('\e892'); } /* '' */
.icon-trophy:before { @include iconify('\e893'); } /* '' */
.icon-loop:before { @include iconify('\e894'); } /* '' */
.icon-right:before { @include iconify('\e895'); } /* '' */
.icon-battery:before { @include iconify('\e896'); } /* '' */
.icon-back-in-time:before { @include iconify('\e897'); } /* '' */
.icon-switch:before { @include iconify('\e898'); } /* '' */
.icon-up:before { @include iconify('\e899'); } /* '' */
.icon-down-dir:before { @include iconify('\e89a'); } /* '' */
.icon-play:before { @include iconify('\e89b'); } /* '' */
.icon-monitor:before { @include iconify('\e89c'); } /* '' */
.icon-mobile:before { @include iconify('\e89d'); } /* '' */
.icon-stop:before { @include iconify('\e89e'); } /* '' */
.icon-right-dir:before { @include iconify('\e89f'); } /* '' */
.icon-pause:before { @include iconify('\e8a0'); } /* '' */
.icon-network:before { @include iconify('\e8a1'); } /* '' */
.icon-cd:before { @include iconify('\e8a2'); } /* '' */
.icon-record:before { @include iconify('\e8a3'); } /* '' */
.icon-up-dir:before { @include iconify('\e8a4'); } /* '' */
.icon-down-bold:before { @include iconify('\e8a5'); } /* '' */
.icon-to-end:before { @include iconify('\e8a6'); } /* '' */
.icon-inbox:before { @include iconify('\e8a7'); } /* '' */
.icon-install:before { @include iconify('\e8a8'); } /* '' */
.icon-to-start:before { @include iconify('\e8a9'); } /* '' */
.icon-left-bold:before { @include iconify('\e8aa'); } /* '' */
.icon-right-bold:before { @include iconify('\e8ab'); } /* '' */
.icon-fast-forward:before { @include iconify('\e8ac'); } /* '' */
.icon-globe:before { @include iconify('\e8ad'); } /* '' */
.icon-cloud:before { @include iconify('\e8ae'); } /* '' */
.icon-fast-backward:before { @include iconify('\e8af'); } /* '' */
.icon-down-thin:before { @include iconify('\e8b0'); } /* '' */
.icon-progress-0:before { @include iconify('\e8b1'); } /* '' */
.icon-up-bold:before { @include iconify('\e8b2'); } /* '' */
.icon-cloud-thunder:before { @include iconify('\e8b3'); } /* '' */
.icon-chart-area:before { @include iconify('\e8b4'); } /* '' */
.icon-chart-bar:before { @include iconify('\e8b5'); } /* '' */
.icon-flow-tree:before { @include iconify('\e8b6'); } /* '' */
.icon-flow-line:before { @include iconify('\e8b7'); } /* '' */
.icon-vimeo:before { @include iconify('\e8b8'); } /* '' */
.icon-flickr-circled:before { @include iconify('\e8b9'); } /* '' */
.icon-lastfm:before { @include iconify('\e8ba'); } /* '' */
.icon-lastfm-circled:before { @include iconify('\e8bb'); } /* '' */
.icon-vkontakte:before { @include iconify('\e8bc'); } /* '' */
.icon-behance:before { @include iconify('\e8bd'); } /* '' */
.icon-mixi:before { @include iconify('\e8be'); } /* '' */
.icon-stumbleupon:before { @include iconify('\e8bf'); } /* '' */
.icon-stumbleupon-circled:before { @include iconify('\e8c0'); } /* '' */
.icon-flickr:before { @include iconify('\e8c1'); } /* '' */
.icon-github-circled:before { @include iconify('\e8c2'); } /* '' */
.icon-flow-cascade:before { @include iconify('\e8c3'); } /* '' */
.icon-flow-branch:before { @include iconify('\e8c4'); } /* '' */
.icon-chart-line:before { @include iconify('\e8c5'); } /* '' */
.icon-chart-pie:before { @include iconify('\e8c6'); } /* '' */
.icon-erase:before { @include iconify('\e8c7'); } /* '' */
.icon-key:before { @include iconify('\e8c8'); } /* '' */
.icon-github:before { @include iconify('\e8c9'); } /* '' */
.icon-dribbble-circled:before { @include iconify('\e8ca'); } /* '' */
.icon-picasa:before { @include iconify('\e8cb'); } /* '' */
.icon-dribbble:before { @include iconify('\e8cc'); } /* '' */
.icon-infinity:before { @include iconify('\e8cd'); } /* '' */
.icon-magnet:before { @include iconify('\e8ce'); } /* '' */
.icon-bucket:before { @include iconify('\e8cf'); } /* '' */
.icon-linkedin-circled:before { @include iconify('\e8d0'); } /* '' */
.icon-paypal:before { @include iconify('\e8d1'); } /* '' */
.icon-sina-weibo:before { @include iconify('\e8d2'); } /* '' */
.icon-linkedin:before { @include iconify('\e8d3'); } /* '' */
.icon-cc-zero:before { @include iconify('\e8d4'); } /* '' */
.icon-drive:before { @include iconify('\e8d5'); } /* '' */
.icon-brush:before { @include iconify('\e8d6'); } /* '' */
.icon-dot-3:before { @include iconify('\e8d7'); } /* '' */
.icon-database:before { @include iconify('\e8d8'); } /* '' */
.icon-cc-pd:before { @include iconify('\e8d9'); } /* '' */
.icon-tumblr-circled:before { @include iconify('\e8da'); } /* '' */
.icon-renren:before { @include iconify('\e8db'); } /* '' */
.icon-skype-circled:before { @include iconify('\e8dc'); } /* '' */
.icon-tumblr:before { @include iconify('\e8dd'); } /* '' */
.icon-cc-nd:before { @include iconify('\e8de'); } /* '' */
.icon-megaphone:before { @include iconify('\e8df'); } /* '' */
.icon-dot-2:before { @include iconify('\e8e0'); } /* '' */
.icon-dot:before { @include iconify('\e8e1'); } /* '' */
.icon-clipboard:before { @include iconify('\e8e2'); } /* '' */
.icon-cc-sa:before { @include iconify('\e8e3'); } /* '' */
.icon-pinterest-circled:before { @include iconify('\e8e4'); } /* '' */
.icon-cc-remix:before { @include iconify('\e8e5'); } /* '' */
.icon-thermometer:before { @include iconify('\e8e6'); } /* '' */
.icon-soundcloud:before { @include iconify('\e8e7'); } /* '' */
.icon-cc-share:before { @include iconify('\e8e8'); } /* '' */
.icon-google-circles:before { @include iconify('\e8e9'); } /* '' */
.icon-skype:before { @include iconify('\e8ea'); } /* '' */
.icon-flattr:before { @include iconify('\e8eb'); } /* '' */
.icon-cc-nc-jp:before { @include iconify('\e8ec'); } /* '' */
.icon-cc-nc-eu:before { @include iconify('\e8ed'); } /* '' */
.icon-cc-nc:before { @include iconify('\e8ee'); } /* '' */
.icon-cc-by:before { @include iconify('\e8ef'); } /* '' */
.icon-cc:before { @include iconify('\e8f0'); } /* '' */
.icon-traffic-cone:before { @include iconify('\e8f1'); } /* '' */
.icon-gauge:before { @include iconify('\e8f2'); } /* '' */
.icon-rocket:before { @include iconify('\e8f3'); } /* '' */
.icon-flow-parallel:before { @include iconify('\e8f4'); } /* '' */
.icon-vimeo-circled:before { @include iconify('\e8f5'); } /* '' */
.icon-twitter:before { @include iconify('\e8f6'); } /* '' */
.icon-twitter-circled:before { @include iconify('\e8f7'); } /* '' */
.icon-facebook:before { @include iconify('\e8f8'); } /* '' */
.icon-facebook-circled:before { @include iconify('\e8f9'); } /* '' */
.icon-facebook-squared:before { @include iconify('\e8fa'); } /* '' */
.icon-gplus:before { @include iconify('\e8fb'); } /* '' */
.icon-gplus-circled:before { @include iconify('\e8fc'); } /* '' */
.icon-pinterest:before { @include iconify('\e8fd'); } /* '' */
.icon-evernote:before { @include iconify('\e8fe'); } /* '' */
.icon-dropbox:before { @include iconify('\e8ff'); } /* '' */
/*.icon-instagram:before { @include iconify('\e900'); }*/ /* '' */
.icon-qq:before { @include iconify('\e901'); } /* '' */
.icon-spotify-circled:before { @include iconify('\e902'); } /* '' */
.icon-spotify:before { @include iconify('\e903'); } /* '' */
.icon-rdio-circled:before { @include iconify('\e904'); } /* '' */
.icon-rdio:before { @include iconify('\e905'); } /* '' */
.icon-smashing:before { @include iconify('\e906'); } /* '' */
.icon-sweden:before { @include iconify('\e907'); } /* '' */
.icon-db-shape:before { @include iconify('\e908'); } /* '' */
.icon-logo-db:before { @include iconify('\e909'); } /* '' */
.icon-tape:before { @include iconify('\e90a'); } /* '' */
.icon-flash:before { @include iconify('\e90b'); } /* '' */
.icon-graduation-cap:before { @include iconify('\e90c'); } /* '' */
.icon-language:before { @include iconify('\e90d'); } /* '' */
.icon-flight:before { @include iconify('\e90e'); } /* '' */
.icon-moon:before { @include iconify('\e90f'); } /* '' */
.icon-paper-plane:before { @include iconify('\e910'); } /* '' */
.icon-ticket:before { @include iconify('\e911'); } /* '' */
.icon-leaf:before { @include iconify('\e912'); } /* '' */
.icon-lifebuoy:before { @include iconify('\e913'); } /* '' */
.icon-droplet:before { @include iconify('\e914'); } /* '' */
.icon-water:before { @include iconify('\e915'); } /* '' */
.icon-air:before { @include iconify('\e916'); } /* '' */
.icon-mouse:before { @include iconify('\e917'); } /* '' */
.icon-briefcase:before { @include iconify('\e918'); } /* '' */
.icon-credit-card:before { @include iconify('\e919'); } /* '' */
.icon-floppy:before { @include iconify('\e91a'); } /* '' */
.icon-suitcase:before { @include iconify('\e91b'); } /* '' */
.icon-google:before { @include iconify(url('https://icongr.am/simple/google.svg?size=' + $baseFontSize + '&color=currentColor'));}
.icon-youtube:before { @include iconify(url('https://icongr.am/entypo/youtube.svg?size=' + $baseFontSize + '&color=currentColor'));}
.icon-instagram:before { @include iconify(url('https://icongr.am/entypo/instagram.svg?size=' + $baseFontSize + '&color=currentColor'));}
.icon-gitlab:before {@include iconify(url('https://icongr.am/devicon/gitlab-plain.svg?size=' + $baseFontSize + '&color=currentColor'));}
