//
// Global Settigns
// --------------------------------------------------

* {
	box-sizing: border-box;
}

.container {
	@include container()
}

.error {
	color: $errorColor; 
}

.success { 
	color: $successColor; 
}

.hidden { 
	visibility: hidden;
	margin: 0;
}