{% load static %}
{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{{ site_title }}</title>

		{% for name, content in metas %}
		<meta name="{{name}}" content="{{content}}">
		{% endfor %}

		{% for stylesheet in stylesheets %}
		<link rel="stylesheet" type="text/css" href="{% static stylesheet %}" />
		{% endfor %}

		<link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
		{% compress css %}
		{% for stylesheet in style_sources %}<link rel="stylesheet" type="text/x-scss" href="{% static stylesheet %}" />
		{% endfor %}
		{% endcompress %}
		
	</head>

	<body>
		<div class="container">
		{% block container %}
			<header>
			{% block header %}{% endblock %}
			</header>
			<section class="main">
			{% block main %}{% endblock %}	
			</section>
			<footer>
			{% block footer %}{% endblock %}
			</footer>
		{% endblock %}
		</div>

		{% for script in external_scripts %}<script src="{{ script }}"></script>
		{% endfor %}

		{% compress js %}
		{% for script in script_sources %}<script src="{% static script %}"></script>
		{% endfor %}
		{% endcompress %}
	</body>
</html>
