{% extends 'dapricot/base.html' %}

{% block header %}
{% endblock %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h1>{{ message_title }}</h1>
		</div>
		<div class="box card half-center autoheight">
			{% for line in message %}
			<p>{{ line }}</p>
			{% endfor %}
			<a href="/" class="button-primary">Go back home</a>
		</div>
	</div>
</article>
{% endblock %}

{% block footer %}
{% endblock %}
